
.container {
	width: 1800px;
	margin: 0 auto;	
}

body header .banner {
	background-color: #00a046;
}

.action {
	display: block;
	background-image: url(/images/akcia_top.jpg);
	background-position: center;	
	background-repeat: no-repeat;	
	height: 32px;	
}

body > header > nav {
	background-color: #221f1f;	
}

a:hover {
	filter: blur(3px);
}

.top_menu {	
	display: flex;
	justify-content: space-between;	
	height: 72px;
}

.logo {
	background-image: url(/images/logo_black_friday.svg);	
	background-position: center;		
	background-repeat: no-repeat;
	width: 240px;
	height: 72px;
}

.war {
	background-image: url(/images/war_banner.svg);	
	background-position: center center;		
	background-repeat: no-repeat;
	width: 72px;
	height: 72px;
}

.navigation {
	background-color: yellow;
	min-height: 3rem;
	width: calc(100%/12*6);
}
.hero {
	background-color: gray;
	min-height: 3rem;
	width: calc(100%/12*6);
}
.items {
	background-color: indigo;
	min-height: 3rem;
	calc(100%/12*6);
}