@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 32px;
}

.container {
	/*width: 1200px;*/
	margin: 0 auto;
	box-sizing: border-box;
	/*padding: 0 15px;		*/
}

body header .banner {
	background-color: #00a046;
	background-repeat: repeat;
	background-position: center;	
}

.action {
	display: block;
	background-image: url(../images/akcia_top.jpg);
	background-position: center;	
	background-repeat: no-repeat;	
	height: 32px;	
}

body > header > nav {
	background-repeat: repeat;
	background-position: center;	
	background-color: #221f1f;	
}

a:hover {
	/*filter: blur(3px);*/
	filter: contrast(125%);
}

.top_menu {	
	display: flex;
	justify-content: space-between;	
	height: 72px;
}

.logo {
	background-image: url(../images/logo_black_friday.svg);	
	background-position: center;		
	background-repeat: no-repeat;
	width: 240px;
	height: 72px;
}

.war {
	background-image: url(../images/war_banner.svg);	
	background-position: center center;		
	background-repeat: no-repeat;
	width: 72px;
	height: 72px;
}

main.container {
	display: flex;
	flex-wrap: wrap;	
	/*background-color: #221f1f;	*/
}

.navigation, .hero, .items, {
	padding: 15px;
	box-sizing: border-box;
}

.navigation {
	background-color: yellow;
	height: calc(100vh - 104px);
	width: calc(100%/12*2);
}

.right_block {
	width: calc(100%/12*10);
	display: flex;
	flex-wrap: wrap;
}

.hero {
	background-color: gray;
	min-height: 3rem;
	width: 100%;
}
.tovar {
	background-color: limegreen;
	width: 100%;
}

.items {
	display: flex;		
	flex-wrap: wrap;
	/*width: calc(100%/10*10);*/
	background-color: limegreen;
	align-content: flex-start;
	justify-content: space-evenly;
	width: 100%
}

.item {
	background-color: rgba(76, 0, 130, 0.726);
	
	/*width: calc(100%/10*2);*/
	width: 140px;

	display: flex;
	justify-items: center;
	
	align-items: center;

	box-sizing: border-box;
	/*background-color: #ffffff;*/

	margin: 3.5px;
}

.item_image {
	display: block;
	
	margin: 0 auto;
	height: 170px;	
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
}

.item-1 {
	background-image: url(../images/img_01.jpg);
	background-position: center center;		
	background-repeat: no-repeat;
	background-size: contain;
	display: block;	
	background-color: #ffffff;
	/*box-shadow: 5px 5px 15px 5px #1C0031;	*/
	box-sizing: border-box;
	margin: 0.5rem;	
}

.item-1:hover {
	background-image: url(../images/img_01h.jpg);		
}


.item:hover {	
	box-shadow: 3px 3px 7px 3px #ced100;
}

.cart {
	height: 100%;		
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 30px 30px;
	transition-duration: 2s;
}
.cart:hover {
	background-image: url(../images/cart4.svg);	
	transition-duration: 2s;
	
}

.vidio_frame {
	width: 100%;
	height: 100%;
	min-height: 360px;
}


@media (max-width: 1200){
	
}

@media screen and (min-width: 1230px) {
	.container {
		width: 1200px;
	}		
}
@media screen and (min-width: 768px) and (max-width: 1229.98px) {
	.container {
		width: 738px;
	}		
	.navigation {
		height: 3rem;
		width: 100%;
	}
	.right_block {
		width: 100%;
	}

	.item, .item_image {
		/*width: auto;*/
	}
}
@media screen and (max-width: 797.98px) {
	.navigation {
		height: 3rem;
		width: 100%;
	}
	.right_block {
		width: 100%;
	}
	.container {
		width: 400px;
		padding: 0 15px;
	}		
}